<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.developia.mini1st.mapper.PetBoardMapper">
	<select id="getPetBoardList" resultType="net.developia.mini1st.domain.PetBoardDTO">
		select	bno, title, content, writer, views, likes, photo, regdate, updatedate, pettype, user_no
		from	pet_board
	</select>
	<insert id="register">
		insert 	into pet_board(bno, title, content, writer, photo, pettype, user_no)
		values	(seq_pet_board.nextval, #{title}, #{content}, #{writer}, #{photo}, #{pettype}, #{user_no})
	</insert>
	<select id="getDetail">
		select	bno, title, content, writer, views, likes, photo, regdate, updatedate, pettype, user_no
		from	pet_board
		where	bno=#{bno}
	</select>
	<update id="updatePetBoard">
		update	pet_board
		set		title=#{title}, content=#{content}, photo=#{photo}, pettype=#{pettype}, updatedate=sysdate
		where	bno=#{bno}
	</update>
	<delete id="deletePetBoard">
		delete 	from pet_board
		where	bno=#{bno}
	</delete>
	<select id="peopleWhoLikes" resultType="long">
		select	user_no
		from	pet_board_heart
		where	bno=#{bno}
	</select>
	<insert id="likesReply">
		insert into pet_board_heart(hno, bno, user_no)
		values (seq_pet_board_heart.nextval, #{bno}, #{user_no})
	</insert>
	<update id="increaseLikes">
		update	pet_board
		set		likes = likes + 1
		where	bno = #{bno}
	</update>
	<update id="decreaseLikes">
		update	pet_board
		set		likes = likes - 1
		where	bno = #{bno}
	</update>
	<delete id="likesReplyCancel">
		delete	from pet_board_heart 
		where	bno=#{bno} and user_no=#{user_no}
	</delete>
	<select id="searchPetBoards">
		<![CDATA[
        select	bno, title, content, writer, views, likes, photo, regdate, updatedate, pettype, user_no
        from 	pet_board
        where 	(title like '%' || #{content} || '%'
        		or content like '%' || #{content} || '%'
        		or writer like '%' || #{content} || '%')
    	]]>
	</select>
	<update id="increaseViews">
		update	pet_board
		set		views = views + 1
		where	bno = #{bno}
	</update>
</mapper>