<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.developia.mini1st.mapper.ReviewMapper">
	<select id="getReviewList" resultType="net.developia.mini1st.domain.ReviewDTO">
		select	postid, title, content, writer, views, likes, img, regdate, updatedate, stars, user_no, itemID
		from	review_board
	</select>
	<insert id="createReview">
		insert into review_board(postid, title, content, writer, stars, user_no, itemid, img)
		values (seq_review.nextval, #{title}, #{content}, #{writer}, #{stars}, #{user_no}, #{itemid}, #{img})
	</insert>
	<select id="readReview" resultType="net.developia.mini1st.domain.ReviewDTO">
		select	postid, title, content, writer, views, likes, img, regdate, updatedate, stars, user_no, itemID
		from	review_board
		where	postid = #{postid}
	</select>
	<update id="updateReview">
    update review_board 
    set title=#{title}, content=#{content}, stars=#{stars}, itemid=#{itemid}
    where postid=#{postid}
	</update>
	<delete id="deleteReview">
		delete from review_board
		where postid=#{postid}
	</delete>
	<delete id="deleteReplyCascade">
		delete from review_reply
        where postid=#{postid}
	</delete>
	<select id="getTotalCount" resultType="int">
		select count(*) from review_board where postid > 0
	</select>
</mapper>